cii-messaging-parent/cii-model/src/main/resources/xsd/D24A/CrossIndustryOrder_100pD24A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:rsm="urn:un:unece:uncefact:data:standard:CrossIndustryOrder:100"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100"
    xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:35"
    targetNamespace="urn:un:unece:uncefact:data:standard:CrossIndustryOrder:100"
    elementFormDefault="qualified"
    version="100.D24A">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" schemaLocation="CrossIndustryOrder_100pD24A_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100" schemaLocation="CrossIndustryOrder_100pD24A_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:35" schemaLocation="CrossIndustryOrder_100pD24A_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_35.xsd"/>
  <xsd:element name="CrossIndustryOrder" type="rsm:CrossIndustryOrderType"/>
  <xsd:complexType name="CrossIndustryOrderType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Cross Industry Order</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ExchangedDocumentContext" type="ram:ExchangedDocumentContextType"/>
      <xsd:element name="ExchangedDocument" type="ram:ExchangedDocumentType"/>
      <xsd:element name="SupplyChainTradeTransaction" type="ram:SupplyChainTradeTransactionType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
